@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap");

// Texto

@mixin text {
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	letter-spacing: -0.25px;
	font-size: 14px;
}

@mixin text-bold {
	@include text;
	font-weight: 800;
	letter-spacing: 0.1px;
}

// Cores

$highlight: #fff;
$text: #222;
$block: #f7f6f3;
$nav: #666;
$link: #ccc;
$shadow: #999;

// Animações

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flash {
	0% {
		background-color: $shadow;
	}
	100% {
		background-position: $link;
	}
}
