@import "../../../assets/scss/vars";

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    h1 {
        text-align: left;
        @include text-bold;
        font-size: 36px;
        color: $highlight;
        margin: 20px;
        cursor: pointer;
    }

    main {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 25px;
        background: lighten($block, 1%);

        section {
            height: calc(100vh - 132px);
            overflow: hidden;
            border-radius: 20px;
            border: 2px solid lighten($shadow, 12%);
            position: relative;
            background: darken($block, 4%);

            &:after {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                right: 0px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
                pointer-events: none;
            }

            &.start {
                flex: 2;
                margin-right: 15px;
            }

            &.info {
                flex: 1.5;
                margin-left: 15px;

                .word {
                    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    height: 100%;

                    h2 {
                        @include text-bold;
                        font-size: 36px;
                        line-height: 28px;
                        text-align: center;
                        margin: 24px 0 20px;
                        color: $highlight;

                        .fav {
                            cursor: pointer;

                            &.on {
                                color: rgb(254, 255, 190);
                            }
                        }
                    }

                    tabs {
                        margin-top: 20px;
                        display: flex;
                        overflow: auto;
                        flex: 1;
                    }
                }
            }
        }
    }
}
