@import '../../../assets/scss/vars';

li {
    background: $block;
    padding: 10px;
    @include text;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 5px;
}