@import "../../../../assets/scss/vars";

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
        text-align: center;
        @include text-bold;
        font-size: 36px;
        color: $highlight;
        margin: 20px 0;
    }

    section {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        flex: 1;
        overflow: auto;
    }
}
