<main>
    <h1>
        <fa-icon class="logo" [icon]="book"></fa-icon> Dictionary
    </h1>

    <section>
        <nav>
            <ul>
                <li *ngFor="let tab of tabs; ; let i = index" [ngClass]="{'selected': nav === i}"
                    (click)="changeTab(i)">
                    {{ tabs[i] }}
                    <ng-container *ngIf="i === 0">
                        <fa-icon class="refresh" [icon]="refresh" (click)="resetWordList()"></fa-icon>
                    </ng-container>
                </li>
            </ul>
        </nav>

        <div class="list" infiniteScroll #listContainer [infiniteScrollDistance]="1" [infiniteScrollThrottle]="150"
            [infiniteScrollContainer]="listContainer" (scrolled)="onScroll()">
            <stack [content]="list"></stack>
        </div>
    </section>
</main>