@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import "../../../assets/scss/vars";

article {
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
        font-family: 'Itim', cursive;
        font-size: 64px;
        line-height: 48px;
        text-align: center;
        margin: 40px 0 16px;
        color: #FFF;
    }

    .meanings {
        @include text;
        flex-grow: 1;
        background: #f7f6f3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .tabs {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding: 0;
            background: #999;

            > li {
                padding: 20px;
                background: #ccc;
                font-size: 20px;

                &.selected {
                    background: #fff;
                }
            }
        }

        .content {
            padding: 20px;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
