@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@import "../../../assets/scss/vars";

article {
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
        font-family: "Itim", cursive;
        font-size: 64px;
        line-height: 48px;
        text-align: center;
        margin: 40px 0 16px;
        color: #fff;
    }

    .top-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        position: relative;

        .tabs {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding: 0;
            background: #999;
            margin: 0;
            @include text;

            > li {
                padding: 20px;
                background: #ccc;
                font-size: 20px;

                &.selected {
                    background: $block;
                }
            }
        }

        .meanings {
            @include text;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            background: $block;
            padding-top: 10px;
            overflow-y: auto;

            .content {
                display: none;
                flex-direction: column;
                transition: 200ms;

                &.active {
                    display: block;
                }

                .nav {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    z-index: 999;
                    background: $nav;
                    color: #fff;

                    &.previous {
                        left: 0;
                        border-radius: 0 10px 10px 0;
                    }
                    &.next {
                        right: 0;
                        border-radius: 10px 0 0 10px;
                    }
                }

                .container {
                    padding: 0 50px 20px;
                }

                .sub-content {
                    display: none;

                    &.selected {
                        display: block;
                    }

                    .example {
                        padding: 20px;
                        font-size: 18px;
                        line-height: 20px;
                        text-align: center;
                        background: #fff;
                        border-radius: 20px;
                        margin-bottom: 0;
                    }
                }

                .related {

                    h4 {
                        margin: 0 0 10px;
                        font-size: 16px;
                        text-align: center;
                    }

                    ul{
                        list-style: none;
                        text-align: center;
                        padding: 0;

                        li {
                            background: #fff;
                            padding: 15px;
                            display: inline-block;
                            margin: 5px;
                            border-radius: 20px;

                            a {
                                text-decoration: none;
                                color: $text;
                            }
                        }
                    }
                }
            }
        }
    }
}
