<article *ngIf="word">
    <h2>{{ word.word }}</h2>

    <banner *ngIf="word.phonetics" [cards]="word.phonetics"></banner>

    <div *ngIf="word.meanings" class="meanings">
        <ul class="tabs">
            <li *ngFor="let meaning of word?.meanings; let i = index" [ngClass]="{'selected': active === i}"
                (click)="active = i">
                {{ meaning.partOfSpeech }}
            </li>
        </ul>

        <div *ngFor="let meaning of word?.meanings; let i = index" class="content" [ngClass]="{'active': active === i}">
            <div *ngFor="let definition of meaning.definitions">
                <p>{{ definition.definition }}</p>

                <div *ngIf="definition.synonyms.length">
                    <h4>Synonyms</h4>

                    <ul>
                        <li *ngFor="let synonym of definition.synonyms">
                            <a routerLink="/{{ synonym }}">
                                {{ synonym }}
                            </a>
                        </li>
                    </ul>
                </div>

                <div *ngIf="definition.antonyms.length">
                    <h4>Antonyms</h4>

                    <ul>
                        <li *ngFor="let antonym of definition.antonyms">
                            <a routerLink="/{{ antonym }}">
                                {{ antonym }}
                            </a>
                        </li>
                    </ul>
                </div>

                <p *ngIf="definition.example">Example: {{ definition.example }}</p>
            </div>

            <div *ngIf="meaning.synonyms.length">
                <h4>Synonyms</h4>

                <ul>
                    <li *ngFor="let synonym of meaning.synonyms">
                        <a routerLink="/{{ synonym }}">
                            {{ synonym }}
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="meaning.antonyms.length">
                <h4>Antonyms</h4>

                <ul>
                    <li *ngFor="let antonym of meaning.antonyms">
                        <a routerLink="/{{ antonym }}">
                            {{ antonym }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</article>

<article *ngIf="failure">
    <h2>{{ failure.title }}</h2>

    <p>{{ failure.message }}</p>

    <p>{{ failure.resolution }}</p>
</article>