section {
    padding: 5px;

    h2 {
        text-align: center;
    }

    .phonetic-audio-container {
        display: flex;
        justify-content: center;

        audio {
            margin: 5px auto;
        }
    }
    
}

