<section *ngIf="word">
    <h2>{{ word.word }}</h2>

    <div *ngIf="word?.phonetics?.length" class="phonetics">

        <div *ngFor="let phonetic of word?.phonetics; let i = index" class="card">
            <div class="pad">
                <span *ngIf="phonetic.text" class="text">{{ phonetic.text }}</span>

                <div class="audio" *ngIf="phonetic.audio">
                    <audio controls>
                        <source src="{{ phonetic.audio }}" type="audio/mp3">
                        <p>Your browser doesn't support HTML5 audio. Here is a <a href="{{ phonetic.audio }}">link to
                                the
                                audio</a>
                            instead.
                        </p>
                    </audio>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="word.meanings" class="meanings">
        <ul class="tabs">
            <li *ngFor="let meaning of word?.meanings; let i = index" [ngClass]="{'selected': active === i}"
                (click)="active = i">
                {{ meaning.partOfSpeech }}
            </li>
        </ul>

        <div *ngFor="let meaning of word?.meanings; let i = index" class="content" [ngClass]="{'active': active === i}">
            <div *ngFor="let definition of meaning.definitions">
                <p>{{ definition.definition }}</p>

                <div *ngIf="definition.synonyms.length">
                    <h4>Synonyms</h4>

                    <ul>
                        <li *ngFor="let synonym of definition.synonyms">
                            <a routerLink="/{{ synonym }}">
                                {{ synonym }}
                            </a>
                        </li>
                    </ul>
                </div>

                <div *ngIf="definition.antonyms.length">
                    <h4>Antonyms</h4>

                    <ul>
                        <li *ngFor="let antonym of definition.antonyms">
                            <a routerLink="/{{ antonym }}">
                                {{ antonym }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="meaning.synonyms.length">
                <h4>Synonyms</h4>

                <ul>
                    <li *ngFor="let synonym of meaning.synonyms">
                        <a routerLink="/{{ synonym }}">
                            {{ synonym }}
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="meaning.antonyms.length">
                <h4>Antonyms</h4>

                <ul>
                    <li *ngFor="let antonym of meaning.antonyms">
                        <a routerLink="/{{ antonym }}">
                            {{ antonym }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section *ngIf="failure">
    <h2>{{ failure.title }}</h2>

    <p>{{ failure.message }}</p>

    <p>{{ failure.resolution }}</p>
</section>