@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,900;1,400;1,900&display=swap');

// Estilos padrão para textos do app

@mixin text {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

main {
    padding: 10px 20px;
}