section {
    overflow: hidden;
    position: relative;
    height: 180px;
    width: 100%;
    padding-top: 10px;

    .nav {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        z-index: 999;

        &.previous {
            left: 0;
        }
        &.next {
            right: 0;
        }
    }

    .banner {
        white-space: nowrap;
        overflow: visible;
        position: absolute;
        width: 100%;
        height: calc(100% - 30px);
        transition: 200ms;

        .card {
            height: 140px;
            width: calc(100% - 100px);
            padding: 50px 0;
            margin: 0 50px;
            background: #f7f6f3;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            display: inline-block;
            vertical-align: middle;

            .pad {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                height: 100%;

                + .phonetic-card {
                    margin-top: 20px;
                }

                .text {
                    display: flex;
                    font-size: 30px;
                    justify-content: center;
                    align-items: center;
                    height: 30px;

                    + .audio {
                        margin-top: 20px;
                    }
                }

                .audio {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 0 20px;

                    .controls {
                        font-size: 36px;
                        position: relative;
                        height: 36px;
                        width: 36px;

                        .control {
                            position: absolute;
                            left: 0;
                            top: -1px;
                        }
                    }

                    .duration {
                        position: relative;
                        width: 70%;
                        margin: 0;
                        padding: 0;
                        height: 18px;
                        margin: 14px 10px 0 5px;
                        background: #FFF;
                        float: left;
                        overflow: hidden;
                        border-radius: 4px;

                        .elapsed {
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 18px;
                            background-color: #007db5;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .dots {
        margin: 150px auto 0;
        text-align: center;

        .dot {
            width: 10px;
            height: 10px;
            margin: 0 10px;
            display: inline-block;
            border-radius: 50%;
            background: #000;
            cursor: pointer;

            &.selected {
                background: white;
            }
        }
    }
}
