@import "../../../assets/scss/vars";

ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
        background: $link;
        display: inline-block;
        margin: 5px;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background: $text;
        }

        a {
            text-decoration: none;
            color: $highlight;
            @include text-bold;
            padding: 15px;
            display: block;
        }
    }
}
