@import '../../../assets/scss/vars';

.word-list {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    padding: 0;
    margin: 5px;

    li {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        height: 50px;
        @include text;
        font-size: 14px;
    }
}
